################################################################################
##
## Copyright (C) 2012 Jorge Aparicio <jorge.aparicio.r@gmail.com>
##
## This file is part of bareCortexM.
##
## bareCortexM is free software: you can redistribute it and/or modify it under
## the terms of the GNU General Public License as published by the Free
## Software Foundation, either version 3 of the License, or (at your option)
## any later version.
##
## bareCortexM is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
## more details.
##
## You should have received a copy of the GNU General Public License along
## with bareCortexM. If not, see <http://www.gnu.org/licenses/>.
##
################################################################################

#
# Bus Blaster
#
# http://dangerousprototypes.com/docs/Bus_Blaster
#

# Communication ports
telnet_port 4444
gdb_port 3333

# Interface
interface ft2232
ft2232_device_desc "Dual RS232-HS"
ft2232_layout jtagkey
ft2232_vid_pid 0x0403 0x6010
